@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div class="row">
    <a href="/LearnBlazor/Bindprop">BindProp</a>
    <a href="/LearnBlazor/DemoProduct">DemoProduct</a>
    <a href="/LearnBlazor/ParentComponent">Parent/Child relation</a>
    <a href="/LearnBlazor/LearnRouting/">Learn Routing</a>
    <a href="/LearnBlazor/BlazorJs/">BlazorJs</a>
    <a href="/LearnBlazor/Lifecycle">Lifecycle</a>
    <a href="/category">Category</a>
    <a href="/product">Product</a>
</div>

