@page "/learnBlazor/parentComponent"

<h3>Parent Child Relation</h3>

<_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as parameter from Parent component">
    <ChildContent>Render fragment from parent.</ChildContent>
    <DangerChildContent>Danger Content from Renderfragment!</DangerChildContent>
</_ChildComponent>

<p><b>@messageText</b></p>

<_AnotherChildComponent placeholder="Placeholder from parent"></_AnotherChildComponent>

<CascadingValue Value="@messageForGrandChild" Name="message">
    <CascadingValue Value="@luckyNumber" Name="luckyNumber">
        <_ChildComponent>
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>



@code {
    public string messageForGrandChild = "This is a message from your grandparent (ParentComponent)";
    public string luckyNumber = "7";
    public string messageText = "";

    private void ShowMessage()
    {
        messageText = "Tangy button clicked from child component";
    }
}
